*, *::before, *::after {
    box-sizing: border-box;
}

#reset-button {
    position: absolute;
    top: 1%;
    right: 2%;
}

#main-container {
    display: grid;
    width: 900px;
    height: 900px;
    border: 1px solid black;
}

.grid-box {
    background-color: transparent;
    user-select: none;
}

.colored {
    background-color: black;
}
